:root {
    --white-blue: #eff6ff;
    --grey-blue: #5b6366;
    --blue: #0ea5e9;
    --yellow: #fcd34d;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    min-width: 1000px;
}

header {
    display: grid;
    grid-template-rows: 1fr 60px;
    background-color: rgb(234, 234, 234);
    padding: 20px;

    grid-column: 2 / 3;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.header-top-left, .header-top-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

#search {
    background-color: rgb(245, 245, 245);
    border: none;
    border-radius: 15px;
    width: clamp(200px, 50vw, 500px);
    height: 30px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    height: 60px;
}

.header-bottom-right {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 20px;
}

.header-bottom-right > button {
    background-color: rgb(99, 99, 255);
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    padding: 10px;
    height: 40px;
    width: 100px;
}

.header-bottom-left {
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 4fr;
}

.header-bottom-left > .profile-pic {
    grid-row: 1 / 3;
}

.intro {
    margin-top: 8px;
}


aside {
    background-color: rgb(212, 211, 211);
    grid-row: 1 / 3;
    min-width: 240px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 45px; 
}

.aside-grid {
    display: grid;
    grid-template-columns: 50px 100px;
    grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
    align-items: center;
    row-gap: 14px;
    column-gap: 4px;
}

.aside-grid > img {
    justify-self: center;
}

.title {
    font-size: 30px;
}

main {
    padding: 20px 10px;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.header-main {
    margin-bottom: 10px;
}

.projects {
    grid-row: 1 / 3;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.project {
    background-color: aquamarine;
    height: 250px;
    border-radius: 20px;
    border-left: 10px rgb(110, 0, 0) solid;
    padding: 15px 20px;
}

.project-header {
    margin-bottom: 10px;
}

.project-description {
    font-size: 18px;
}

.ann-container {
    background-color: aliceblue;
    border-radius: 20px;
    padding: 25px;
    height: auto;
}

.horizontal-line {
    height: 1px;
    width: 100%;
    background-color: rgb(162, 162, 162);
    margin: 12px auto;
}

.ann-header {
    margin-bottom: 10px;
}

.trending-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-content: space-evenly;

    background-color: aqua;
    border-radius: 20px;
    height: 80%;
}

.trending-pp {
    justify-self: center;
}

.trending-description {
    color: rgb(136, 136, 136);
}

